@import "@styles/settings/__settings";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1em;
  font-weight: $font-weight-black;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: $color-button-background;
  padding: 0.6em 1em;
  border: 0;
  border-radius: $border-radius-small;
  cursor: pointer;

  &:hover {
    background-color: lighten($color-button-background, 10);
  }

  &:disabled {
    color: rgba(white, 0.5);
    background-color: lighten($color-button-background, 10);
    cursor: default;
  }

  // Color

  &[data-color="red"] {
    background-color: $color-red;

    &:hover {
      background-color: lighten($color-red, 10);
    }

    &:disabled {
      background-color: desaturate($color-red, 10);
    }
  }

  &[data-color="blue-800"] {
    background-color: $color-blue-800;

    &:hover {
      background-color: lighten($color-blue-800, 10);
    }

    &:disabled {
      background-color: desaturate($color-blue-800, 10);
    }
  }

  &[data-color="cloudinary-yellow"] {
    color: rgba(black, 0.8);
    background-color: $color-cloudinary-yellow-500;

    &:hover {
      background-color: lighten($color-cloudinary-yellow-500, 10);
    }

    &:disabled {
      color: rgba(black, 0.4);
      background-color: desaturate($color-cloudinary-yellow-500, 10);
    }
  }

  &[data-color="twitter-blue"] {
    background-color: $color-twitter-blue;

    &:hover {
      background-color: lighten($color-twitter-blue, 10);
    }

    &:disabled {
      background-color: desaturate($color-twitter-blue, 10);
    }
  }

  // Shape

  &[data-shape="capsule"] {
    height: 2.5em;
    border-radius: 2.5em;
    padding: 0 1em;
  }

  &[data-shape="capsule-tall"] {
    height: 3em;
    border-radius: 3em;
    padding: 0 1em;
  }

  &[data-shape="circle"] {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    padding: 0;
  }

  // Icon

  &[data-icon-position="left"] {
    svg {
      margin-right: 0.5em;
    }
  }

  &[data-icon-position="right"] {
    svg {
      margin-left: 0.5em;
    }
  }
}
