@import "@styles/settings/__settings";

.container {
  width: 100%;
  max-width: $page-max-width;
  padding: 0 2em;
  margin: 0 auto;

  @media (max-width: 720px) {
    padding: 0 1em;
  }

  h2,
  h3,
  h4,
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
