@import "@styles/settings/__settings";
@import "@styles/util/__util";

.cameraHeroSection {
  padding: 0;
  margin: 0;
}

.cameraHeroContainer {
  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 2em;

  @include smaller-than-tablet() {
    flex-direction: column;
    margin-bottom: 1em;
  }
}

.camera {
  background: linear-gradient(120deg, $color-gray-100 30%, white 50%, $color-gray-50 70%);
  background-size: 400%;
  animation: loading 2s linear infinite;
  @include tablet-or-larger() {
    flex-shrink: 0;
    max-width: 720px;
  }
}

// Camera Controls

.controlShare {
  margin-bottom: 1em;

  .controlNote {
    color: $color-cloudinary-yellow-500;
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
  }
}

// Camera page content

.cameraBodySection {
  margin-top: 0;
}

.eventGalleryTitle {
  font-size: 2em;
  font-weight: $font-weight-black;
  text-align: center;
  margin: 5em 0 2em;

  @include smaller-than-tablet() {
    font-size: 1.4em;
    margin-bottom: 1.4em;
  }

  strong {
    color: $color-cloudinary-orange;
    font-weight: inherit;
  }
}

.eventGalleryImages {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;

  @include smaller-than-tablet() {
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    margin: 0;
  }

  img {
    display: block;
  }
}
