@import "@styles/settings/__settings";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

a {
  color: $color-blue-500;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.4;
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}
