@import "@styles/settings/__settings";

.homeContainer {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.try {
  margin-top: 2em;

  .tryButton {
    height: 3em;
  }
}

.tryButton {
  width: 100%;
  font-size: 1.2em;

  svg {
    color: $color-cloudinary-yellow-500;
  }
}

.instructions {
  color: $color-gray-600;
  text-align: center;
}

.imageGrid {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
  }

  img {
    display: block;
  }
}
