@import "@styles/settings/__settings";

.shareContainer {
  margin-bottom: 3em;

  @media (min-width: 720px) {
    display: flex;
  }
}

.imageTransformed {
  @media (min-width: 720px) {
    width: 60%;
    flex-shrink: 0;
    margin-right: 2em;
  }

  p {
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
  }
}

.content {
  flex-grow: 1;
}

.actions {
  list-style: none;
  padding: 0;
  margin: 1em 0;

  @media (min-width: 720px) {
    margin-top: 0;
  }

  li {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
  }

  a,
  button {
    width: 100%;
    font-size: 1.1em;
    padding: 1em;
  }
}

.imageOriginal {
  display: flex;
  padding: 1em;
  background-color: $color-gray-50;
  border-radius: 0.2em;

  img {
    display: block;
  }
}

.imageOriginalDetails {
  order: 2;

  h2 {
    color: $color-gray-700;
    font-size: 1em;
    margin-top: 0;
  }

  p {
    font-size: 0.9em;
    word-break: break-all;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.imageOriginalImage {
  order: 1;
  width: 10em;
  flex-shrink: 0;
  margin: 0 1em 0 0;
}

/* Cloudinary */

.cloudinary {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: $color-cloudinary-blue-500;
  padding: 2em 4em;

  @media (min-width: 720px) {
    flex-direction: row;
  }

  @media (min-width: 1024px) {
    border-radius: 0.5em;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 1.6em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cloudinaryContent {
  text-align: center;

  @media (min-width: 720px) {
    text-align: left;
  }
}

.cloudinaryHeadline {
  font-size: 2em;
  margin-top: 0;
}

.cloudinaryImage {
  width: 100%;
  flex-shrink: 0;
  margin: 1em 0 0;

  @media (min-width: 720px) {
    width: 50%;
    margin-left: 3em;
  }

  img {
    transform: translateX(5%);

    @media (min-width: 720px) {
    }
  }
}

/* Filters */

.filter {
  margin-top: 4em;
}

.filterTitle {
  font-size: 1.5em;
  margin-top: 0;
}

.transformation {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.definition {
  font-size: 0.9em;
  margin-bottom: 1.8em;
}

.definitionDetails {
  font-size: 1.2em;
  margin: 0 0 0.8em;
}

.definitionTitle {
  margin-right: 0.5em;
}

.definitionRule {
  font-size: 1.3em;
}

.definitionDescription {
  padding-left: 0.5em;
  border-left: solid 2px $color-cloudinary-yellow-500;
  margin: 0;
}
