@import "@styles/settings/__settings";

.sectionTitle {
  font-size: 2em;
  text-align: center;
}

.sharePage {
  section {
    position: relative;
    z-index: 1;
  }
}

.shareSection {
  position: relative;
  z-index: 0;

  &:after {
    position: absolute;
    top: 5vh;
    left: 0;
    content: "";
    z-index: 0;
    width: 100%;
    height: 80vh;
    background: url("/images/cloudinary-background.jpg");
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.shareContainer {
  position: relative;
  z-index: 1;

  @media (min-width: 720px) {
    display: flex;
  }
}

.imageTransformed {
  border-radius: 0.5em;
  overflow: hidden;

  @media (min-width: 720px) {
    width: 60%;
    flex-shrink: 0;
    margin-right: 2em;
  }

  p {
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
  }
}

.content {
  flex-grow: 1;
}

.actions {
  list-style: none;
  padding: 0;
  margin: 1em 0;

  @media (min-width: 720px) {
    margin-top: 0;
  }

  li {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
  }

  a,
  button {
    width: 100%;
    font-size: 1.1em;
    padding: 1em;
  }
}

.imageOriginal {
  display: flex;
  color: white;
  background-color: $color-cloudinary-blue-dark;
  padding: 1em;
  border-radius: 0.2em;

  a {
    color: $color-cloudinary-yellow-500;
  }

  img {
    display: block;
  }
}

.imageOriginalDetails {
  order: 2;

  h2 {
    font-size: 1em;
    margin-top: 0;
  }

  p {
    font-size: 0.9em;
    word-break: break-all;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.imageOriginalImage {
  order: 1;
  width: 10em;
  flex-shrink: 0;
  margin: 0 1em 0 0;
}

/* Cloudinary */

.cloudinary {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: $color-cloudinary-blue;
  padding: 2em;

  @media (min-width: 720px) {
    padding: 3em 4em;
    flex-direction: row;
  }

  @media (min-width: 1024px) {
    border-radius: 0.5em;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 1.6em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $color-cloudinary-yellow-500;
  }
}

.cloudinaryContent {
  text-align: center;

  @media (min-width: 720px) {
    text-align: left;
  }
}

.cloudinaryHeadline {
  font-size: 2em;
  margin-top: 0;
}

.cloudinaryImage {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  margin: 1em 0 0;

  @media (min-width: 720px) {
    width: 50%;
    margin-left: 3em;
  }

  img {
    transform: translateX(3%);

    @media (min-width: 720px) {
      transform: translateX(5%);
    }
  }
}

.cloudinaryImageOverlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  height: auto;
  margin: auto;
  border-radius: 50%;
  border: solid 10px $color-cloudinary-yellow-500;
}

/**
 * Diagram
 */

.diagram {
  font-size: 1.2em;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 1.5em 0;

    @media (min-width: 960px) {
      flex-direction: row;
      justify-content: center;
    }
  }

  li {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1em;

    @media (min-width: 960px) {
      width: auto;
      margin-bottom: 1em;
    }

    &:before {
      display: flex;
      order: 2;
      align-items: center;
      content: "/";
      font-size: 1.2em;
      margin: auto 0;

      @media (min-width: 960px) {
        position: absolute;
        top: 0;
        left: -0.1em;
        bottom: 0;
      }
    }

    &:first-child {
      &:before {
        display: none;
        content: none;
      }
    }

    &:nth-child(2n) {
      strong {
        top: 100%;
        margin-top: 0.5em;
      }
    }

    &:nth-child(2n - 1) {
      strong {
        bottom: 100%;
        margin-bottom: 0.5em;
      }
    }
  }

  strong {
    display: flex;
    justify-content: flex-start;
    order: 1;
    width: 100%;
    font-size: 0.8em;
    white-space: nowrap;

    @media (min-width: 960px) {
      position: absolute;
      justify-content: center;
      left: 50%;
      width: 10em;
      transform: translateX(-5em);
    }
  }

  span {
    display: flex;
    order: 3;
    padding: 0.2em 0.4em;
  }
}

/* Filters */

.filter {
  padding-bottom: 4em;
  border-bottom: solid 2px $color-cloudinary-blue;
  margin-top: 4em;

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.filterTitle {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.transformation {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.definition {
  font-size: 0.9em;
  margin-bottom: 1.8em;

  &:last-child {
    margin-bottom: 0;
  }
}

.definitionDetails {
  font-size: 1.2em;
  margin: 0 0 0.8em;
}

.definitionTitle {
  margin-right: 0.5em;
}

.definitionRule {
  font-size: 1.3em;
}

.definitionDescription {
  padding-left: 0.5em;
  border-left: solid 2px $color-cloudinary-yellow-500;
  margin: 0;
}

.sectionFeedback {
  text-align: center;
}
