@import "@styles/settings/__settings";

.header {
  width: 100%;
  font-size: 1em;
  color: white;
  padding: 0;
  margin: 2em 0;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 720px) {
    flex-wrap: wrap;
  }
}

.headerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 2em;
  font-weight: $font-weight-black;
  margin: 0;

  @media (max-width: 720px) {
    justify-content: center;
    width: 100%;
  }
}

.headerLogo {
  height: 1.6em;

  svg {
    width: auto;
    height: 100%;
  }

  path {
    fill: $color-cloudinary-blue;
  }
}

.headerLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 2em;

  @media (max-width: 720px) {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  li {
    margin: 0 0.8em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-header-links;

    svg {
      margin-right: 0.4em;
    }
  }
}
