$color-aqua: #25bebc;
$color-blue-light: #397dff;
$color-blue-medium: #397dff;
$color-deep-blue: #0b0535;
$color-purple: #9c5bc3;
$color-blue-shadow: $color-blue-medium;
$color-light-gray: #CBD2FF;
$color-red: #bc493a;

$color-header-background: #04072D;
$color-header-links: $color-light-gray;

$color-button-background: $color-purple;