$color-aqua: #25bebc;
$color-deep-blue: #0b0535;
$color-purple: #9c5bc3;
$color-red: #bc493a;

$color-cloudinary-blue: #354cbe;
$color-cloudinary-blue-dark: #0c163b;
$color-cloudinary-yellow-500: #eebd41;

$color-twitter-blue: #1d9bf0;

$color-gray-50: #eef0f3;
$color-gray-100: #cfd7de;
$color-gray-200: #b1bdca;
$color-gray-300: #93a3b5;
$color-gray-400: #7589a0;
$color-gray-500: #5c7086;
$color-gray-600: #475768;
$color-gray-700: #333e4a;
$color-gray-800: #1e242b;
$color-gray-900: #090b0d;

$color-blue-50: #e8ebf9;
$color-blue-100: #ced4f1;
$color-blue-200: #a6b1e6;
$color-blue-300: #7e8edb;
$color-blue-400: #566bd0;
$color-blue-500: $color-cloudinary-blue;
$color-blue-600: #2a3c96;
$color-blue-700: #1f2c6e;
$color-blue-800: #141c46;
$color-blue-900: #090c1f;

$color-header-background: #04072d;
$color-header-links: $color-gray-400;

$color-button-background: $color-cloudinary-blue;
