$color-aqua: #25bebc;
$color-blue-light: #397dff;
$color-blue-medium: #397dff;
$color-deep-blue: #0b0535;
$color-purple: #9c5bc3;
$color-blue-shadow: $color-blue-medium;
$color-light-gray: #CBD2FF;
$color-red: #bc493a;

$color-gray-50: #eef0f3;
$color-gray-100: #cfd7de;
$color-gray-200: #b1bdca;
$color-gray-300: #93a3b5;
$color-gray-400: #7589a0;
$color-gray-500: #5c7086;
$color-gray-600: #475768;
$color-gray-700: #333e4a;
$color-gray-800: #1e242b;
$color-gray-900: #090b0d;

$color-header-background: #04072D;
$color-header-links: $color-light-gray;

$color-button-background: $color-purple;

$color-cloudinary-blue-500: #354CBE;
$color-cloudinary-yellow-500: #EEBD41;