@import "@styles/settings/__settings";
@import "@styles/util/__util";

.control {
  width: 100%;

  button,
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.2em;

    @include smaller-than-tablet() {
    }
  }

  [data-is-loading="true"] {
    svg {
      animation: spin 1s linear infinite;
    }
  }
}
