@import "@styles/settings/__settings";

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
  background-color: $color-cloudinary-blue-500;
}

.stage {

  margin: auto;

  video,
  img {
    display: block;
    width: 100%;
    height: auto;
  }

}


.controls {

  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 1em;
  margin: 0;

}

.control {

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    font-size: 1.2em;
    padding: 0;
    border-radius: 100%;
  }

}









.effects {

}

.effectsHeaders {

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  list-style: none;
  padding: 0;
  border-top: solid 1px rgba(white, .2);
  border-bottom: solid 1px rgba(white, .2);
  margin: 1em 0 .5em;

  li {

    position: relative;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold;
    padding: .5em .8em;
    margin: 0;

    &[aria-disabled="true"] {
      color: rgba(white, .5);
    }

    &[aria-selected="true"] {

      color: $color-cloudinary-yellow-500;

      &:after {
        display: block;
      }

    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:after {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      content: '';
      width: .5em;
      height: .5em;
      background-color: $color-cloudinary-yellow-500;
      border-radius: 100%;
      transform: translate3d(-.25em, -.25em, 0);
    }

  }

}

.effectsPanel {
  width: 100vw;
  overflow-x: hidden;
}

.filters {

  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  list-style: none;
  padding: 0 .5em .5em;
  margin: 0;

  li {
    display: inline-block;
  }

}

.filterThumb {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: none;
  padding: 0.5em;
  border: none;
  cursor: pointer;

  span,
  img {
    display: block;
  }

}

.filterThumbImage {

  display: block;
  overflow: hidden;
  background-color: $color-cloudinary-blue-500;
  border: solid 3px transparent;
  border-radius: .4em;
  margin-bottom: .5em;

  img {
    display: block;
  }

  [data-is-active-filter="true"] & {
    border: solid 3px $color-cloudinary-yellow-500;
    box-shadow: 0 2px 15px rgba($color-cloudinary-yellow-500, .6);
  }

}

